html, body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  font-family: sans-serif;
}

#root {
  height:100%;
  width:100%;
  overflow:hidden;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height:100%;
  width:100%;
  overflow:hidden;
}

.word-bar {
  width:80%;
  height: 10%;
  margin-bottom:10%;
}

.reset-bar {
  width:80%;
  height: 10%;
}

.word-input {
  font-size: 40px;
  text-align: center;
  color: #2196f3;
}

.outline-text {
  color: #000;
  text-shadow: 0px 0px 5px #fff;
}

.words {
  margin: auto;
  position: absolute;
  top: 20px;
}

.word {
  font-size: 30px;
}

.right-aligned {
  right: 30px;
}

.left-aligned {
  left: 30px;
}

.full-size {
  height:100%;
  width:100%;
}

.rounded {
  border-radius: 10px;
}

.bordered {
  border: 1px darkGray solid;
}

.padded {
  padding: 15px;
}

.toast {
  margin: auto;
  position: absolute;
  bottom: 20px;
  font-size: 50px;
}

.title {
  margin: auto;
  position: absolute;
  top: 100px;
  font-size:28px;
}
