html, body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  font-family: sans-serif;
}

#root {
  height:100%;
  width:100%;
  overflow:hidden;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100%;
  width:100%;
  overflow:hidden;
}

.word-bar {
  width:80%;
  height: 10%;
  margin-bottom:10%;
}

.word-input {
  font-size: 40px;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 0 #2196f3;
}

.words {
  margin: auto;
  position: absolute;
  top: 20px;
}

.right-aligned {
  right: 30px;
}

.left-aligned {
  left: 30px;
}

.full-size {
  height:100%;
  width:100%;
}

.rounded {
  border-radius: 10px;
}

.bordered {
  border: 1px darkGray solid;
}

.padded {
  padding: 15px;
}
